/frontend/node_modules
/frontend/node_modules/
/frontend/coverage
/frontend/.next
/frontend/.DS_Store
/frontend/.env
/frontend/.env.local
/frontend/.vscode/

/agents/.idea/

/agents/price_prophet

/agents/packages/open_aea/
/agents/packages/fetchai
/agents/packages/valory/


# hidden files
.*
!/.github
!/.gitignore
!/.gitmodules
!/.pylintrc

# python
__pycache__
Pipfile.lock
*.egg-info

# logs
*.log

# test coverage
coverage.txt
coverage.xml
htmlcov
!.gitleaksignore

contracts/.env
